---
BasedOnStyle: WebKit

Language: Cpp
Standard: Cpp11

# Break before operators that aren’t assignments.
BreakBeforeBinaryOperators: NonAssignment

# Macros for which the opening brace stays attached.
ForEachMacros:
    - foreach
    - Q_FOREACH
    - BOOST_FOREACH
    - forever
    - Q_FOREVER
    - QBENCHMARK
    - QBENCHMARK_ONCE

