{
    "KPlugin": {
        "Id": "Unique id",
        "Name": "Human-readable name"
    },
    "Wallpaper": {
        "Preview": "preview.png",
        "Type": "solar",
        "MetaData": [
            {
                "Azimuth": 0,
                "Elevation": 0,
                "FileName": "0.png"
            },
            ...
        ]
    }
}
