{
    "KPlugin": {
        "Id": "unique_id",
        "Name": "Human-readable name"
    },
    "Wallpaper": {
        "Preview": "preview.png",
        "Type": "solar",
        "MetaData": [
            {
                "Azimuth": 90,
                "Elevation": 0,
                "FileName": "0.png"
            },
            {
                "Azimuth": 122.0,
                "Elevation": 42.0,
                "FileName": "1.png"
            }
        ]
    }
}
