[Desktop Entry]
Name=Dynamic Numbers

X-KDE-PluginInfo-Name=Dynamic Numbers
X-KDE-PluginInfo-Author=Vlad Zahorodnii
X-KDE-PluginInfo-Email=vlad.zahorodnii@kde.org
X-KDE-PluginInfo-License=LGPLv3
