[Desktop Entry]
Encoding=UTF-8
Icon=preferences-desktop-wallpaper
Name=Dynamic Wallpaper

Type=Service

X-KDE-ServiceTypes=Plasma/Wallpaper
X-KDE-PluginInfo-Author=Vlad Zagorodniy
X-KDE-PluginInfo-Email=vladzzag@gmail.com
X-KDE-PluginInfo-Name=com.github.zzag.dynamic-wallpaper
X-KDE-PluginInfo-Version=1
X-KDE-PluginInfo-Website=https://github.com/zzag/dynamic-wallpaper
X-Plasma-MainScript=ui/main.qml
